////////////////////
////   Forms   ////
//////////////////
// 
// Styling for various form form tags (inputs, etc) and custom form elements and styling
// 
// 		.field
// 			- Form field wrapper for consistent sizing and spacing
// 		text classes
// 			- label
// 			- hint
// 			- input character count
// 		input elements & textarea
// 		buttons
// 			- colors: default (primary), .red, .green, .yellow, .purple, .grey
// 		Checkboxes, Radios, Toggle Switches
// 		Range
// 		custom-picker
// 			custom visual radio or checkbox picker - icon with text, horizontal buttons
// 		.input-validator
// 			Spinner, Success, or Error icon shown in inputs that need validating
// 			Currently used in inputs to check usernames, etc
// 


// Simple form fields
// Sets max width
.field{

	&.horizontal{
		display: flex;
		width: 100%;
		justify-content: space-between;

		label{
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0;
		}

		input{
			flex-grow: 3;
		}
	}

	// Label for slider - also includes small input right of label for keyboard input
	.slider-label-value{
		display: flex;
		justify-content: space-between;
		padding-bottom: 5px;
		padding: 0 0 8px 0;

		// Actual label text
		span{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		b{
			font-weight: bold;
		}

		input{
			width: 60px;
			-webkit-appearance: none;
			appearance: none;
			-moz-appearance: textfield;
			color: inherit;
			text-align: center;
			margin: 0 0 0 0;
			padding: 0;
			border-radius: var(--borderRadius);
			height: 30px;
		}

		button{
			width: fit-content;
			i,span{
				display: inline;
			}
		}
	}
}

// field row - horizontal row
.field-row{
	display: flex;
	justify-content: space-between;
}

////////////////////////
//      Text        //
//////////////////////
// Labels
label{
	padding: 2px 0 6px 0px;
	letter-spacing: 0px;
	display: block;
	color: var(--text);
	font-size: 15px;
	font-weight: 500;
	font-family: var(--systemFont);

	// Make smaller on mobile
	@media (max-width: @screenMD) {
		font-size: 14px;
	}
	@media (max-width: @screenSM) {
		font-size: 13px;
	}

	// Smaller and less visible
	&.small{
		font-size: 13px;
		padding-bottom: 5px;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: var(--text);
	}

	// Invert color
	&.invert{
		color: var(--background);
	}

	// Reset to use with other elements (ie button)
	&.reset{
		display: block;
	}
}
// Small label hint for more info
.hint{
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	padding: 0 0 3px 0;
	display: block;
	color: var(--textLight);
	letter-spacing: 0.35px;

	b{
		font-weight: 600;
	}

	// Make smaller on mobile
	@media (max-width: @screenSM) {
		font-size: 12px;
		line-height: 12px;
		padding: 2px 0 2px 0;
	}
}
// Character Count Under inputs
// Position absolute bottom, 17px below, so parent must be relative
// Works great inside .field-body immediately following an input or textarea
.character-count{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--textLight);
	position: absolute;
	box-sizing: border-box;
	padding-left: 2px;
	bottom: -17px;
	font-family: var(--systemFont);
}



////////////////////////
//      Inputs       //
//////////////////////
// outline / accessibility styles for all inputs
input,button,textarea,a,select{
	outline: 2px dashed transparent;
	outline-offset: 3px;
	transition: outline 0.1s ease, outline-offset 0.2s ease;
	
	// Focus, show outline
	&:focus{
		outline: none !important;
		// outline: 2px dashed var(--outline) !important;
		outline-offset: 4px;
		transition: outline 0.1s ease, outline-offset 0.2s ease;

		// Disable outline on mobile
		@media (max-width: @screenMD) {
			outline: none !important;
		}
	}
	
	// Acttive
	&:active{
		outline: 2px dashed transparent;
    }
}
// Hide invalid red dropshadow
input:invalid{
	box-shadow: none;
}
// Text Inputs
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
select,
textarea{
	max-width: 100%;
	width: 100%;
    font-size: 16px;
	box-sizing: border-box;
	padding: 0 8px;
	color: var(--black);
	font-family: var(--systemFont);
	font-weight: 500;
	letter-spacing: 0.35px;
	background-color: var(--inputBackground);
	border-radius: var(--borderRadius);
	transition: all 0.1s ease, border-color 0.15s ease;
	font-weight: 500;
	border: var(--borderWidth) solid var(--inputBorder);

	// Increase size on mobile
	@media (max-width: @screenMD) {
		font-size: 14px;
		padding: 0 12px;
		// border-color: transparent;
	}
	
	// Hover and focus states
	&:hover,
	&:focus{
		transition: all 0.1s ease, border-color 0.15s ease;
	}
	
	// Placeholder
	&::placeholder{
		color: rgba(150,150,150);
		letter-spacing: 0.4px;
		font-weight: 500;
	}

}
// Single line text inputs
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='tel'],
input[type='url']{
    height: 36px;
	
	// decrease size on mobile
	@media (max-width: @screenMD) {
		height: 34px;
	}
}
// Textarea
textarea{
    line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	min-height: 120px;
	box-shadow: none;
	
	@media (max-width: @screenMD) {
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 26px;
	}

	// Code textarea
	&.code{
		font-family: var(--mono);
		font-size: 13px;
		line-height: 15px;
	}
}
// Select needs own height definition
select{
	height: 40px;
	-moz-appearance: none;
}


////////////////////////
//      Buttons      //
//////////////////////
button{
	background-color: transparent;
	border: none;

	&:hover span{
		text-decoration: underline;
	}
}
.button{
	border: none;
	color: var(--background);
	height: 36px;
	min-height: 36px;
	border-radius: var(--borderRadius);
	font-size: 14px;
	letter-spacing: 0.15px;
	font-weight: 600;
	padding: 0px 14px 2px 14px;
	background-color: var(--text);
	box-sizing: border-box;
	transform: translateY(0px);
	font-family: var(--systemFont);
	border: var(--borderWidth) solid var(--black);
	border-bottom-width: 2px;

	// Increase size on mobile
	@media (max-width: @screenMD) {
		letter-spacing: 0.4px;
		padding: 2px 14px 2px 14px;
	}

	// States
	&:hover{
		cursor: pointer;
		text-decoration: underline;
	}
	&:active{
		padding: 0 14px 3px 14px;
		border-bottom-width: 1px;

		span,i{
			position: relative;
			top: 1px;
		}

		// Mobile
		@media (max-width: @screenMD) {
			letter-spacing: 0.4px;
			padding: 2px 14px 3px 14px;
		}
	}
	&:focus{
		text-decoration: underline;
	}

	// Add spacing on first element (either i or span)
	span:first-child,
	i:first-child{
		margin-right: 9px;
	}

	// Increase icon size without affecting button size
	i{
		transform: scale(1.325);
		transform-origin: center center;
	}

	// Color Variations
	// Blue
	&.blue{
		background-color: var(--blue);
		color: var(--white);
	}
	// Green
	&.green{
		background-color: var(--green);
		color: var(--black);
	}
	// Red
	&.red{
		background-color: var(--red);
		color: var(--white);
	}
	// Yellow
	&.yellow{
		background-color: var(--yellow);
		color: var(--black);
	}
	// Orange
	&.orange{
		background-color: var(--orange);
		color: var(--white);
	}
	// Purple
	&.purple{
		background-color: var(--purple);
		color: var(--white);
	}
	// Grey
	&.grey{
		color: var(--text);
		background-color: var(--grey);
	}
	// Black
	&.black{
		color: var(--white);
		background-color: var(--popup);
	}
	// Invert
	&.invert{
		color: var(--layer);
		background-color: var(--text);
	}
	// transparent
	&.transparent{
		color: var(--text);
		background-color: var(--layer);
	}
	

	// Size Variations
	// small
	&.small{
		min-height: 30px;
		height: 30px;
		font-size: 13px;
		letter-spacing: 0.26px;
		font-weight: 600;
		padding: 0 8px 1px 8px;

		// Increase size on mobile
		@media (max-width: @screenMD) {
			letter-spacing: 0.14px;
			padding: 0px 10px;
		}
		// Even more on small
		@media (max-width: @screenSM) {
			font-weight: 500;
		}

		// Add spacing on first element (either i or span)
		span:first-child,
		i:first-child{
			margin-right: 6px;
		}

		// Decrease icon size
		i{
			transform: scale(1.2);
		}
	}
	// big
	&.big{
		height: 44px;
		font-size: 18px;
		font-weight: 600;
		padding: 0 14px 2px 14px;
		letter-spacing: 0.5px;

		// Increase size on mobile
		@media (max-width: @screenMD) {
			letter-spacing: 0.4px;
			padding: 0px 14px;
		}
		// Even more on small
		@media (max-width: @screenSM) {
			padding: 0px 12px;
			font-size: 16px;
		}

		// Add spacing on first element (either i or span)
		span:first-child,
		i:first-child{
			margin-right: 10px;
		}
	}

	// Disabled
	&:disabled{
		background-color: var(--inputDisabled);
		color: var(--inputDisabledText);
		border-color: var(--border);
		opacity: 0.8;

		&:hover{
			cursor: default;
			background-color: var(--inputDisabled);
			color: var(--inputDisabledText);
			opacity: 0.8;
			text-decoration:none;
		}
	}

	// Inline 
	&.fit{
		width: fit-content;
	}
}

/////////////////////////
//     Checkboxes     //
///////////////////////
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
input[type="checkbox"]:focus {
	outline: 0;
}

// Turn into checks
.check {
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	display: inline-block;
	position: relative;
	margin: 0;
	border-radius: var(--borderRadius);
	box-sizing: border-box;
	border: var(--borderWidth) solid transparent;
	transition: all 0.2s ease;
	background: var(--inputBackground);
	font-size: 16px;
	font-weight: 800;
	// Remove border mobile
	@media (max-width: @screenMD) {
		border-color: transparent;
	}
	// States
	&:hover,
	&:focus{
		transition: all 0.2s ease;
		// Lighter border mobile
	}
	
	// Check icon
	&:after {
		//28x28 dimensions
		content: "\f00c";
		position: relative;
		font-family: var(--fontAwesome);
		font-weight: 900;
		transition: var(--bezierTransition);
		color: var(--text);
		opacity: 0.3;
		font-size: 16px;
		left: 5px;
		top: 4px;
	}

	// Darken border, 
	&:checked {
	}
	// Full opacity icon
	&:checked:after {
		opacity: 1;
	}

	// Icon variants
	// Change to badge
	&.badge:after{
		content: '\f336';
		font-weight: 400;
		font-size: 20px;
		top: 2px;
		left: 3px;
	}
	&.badge:checked:after{
		content: '\f336';
	}
}


// Turn checkbox into toggle switch 
.toggle{
	height: 33px;
	width: 52px;
	border-radius: 16px;
	display: inline-block;
	position: relative;
	margin: 0;
	border: var(--borderWidth) solid var(--inputBorder);
	transition: all .2s ease;
	background-color: var(--inputBackground);

	// Circle (switch that moves)
	&:after{
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: var(--background);
		transition: all .2s cubic-bezier(.5,.1,.75,1.35);
		border: var(--borderWidth) solid var(--inputBorder);
		box-sizing: border-box;
		transition: var(--transition);
	}

	// Hover
	&:hover:after{
		transition: var(--transition);
		background-color: var(--green);
	}

	// Checked, move circle to right, full color
	&:checked{
		border: var(--borderWidth) solid var(--inputBorder);
		background: var(--inputBackground);

		&:after{
			background: var(--blue);
			transform: translateX(17px);
			border-color: var(--inputBorder);
			opacity: 1;
		}
	}
}


///////////////////////
//      Range       //
/////////////////////

// now for the good stuff 🎉
input[type="range"] {
	outline: 0;
	border: 0;
	width: 100%;
	margin: 0 0 0 0;
	// Chrome
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		& {
			height: 6px;
			background-color: var(--text);
			-webkit-appearance: none;
		}
		&::-webkit-slider-runnable-track {
			background: var(--text);
			height: 4px;
			outline: none;
			box-shadow: none;
			border: none;		
		}
		&::-webkit-slider-thumb {
			height: 28px;
			width: 28px;
			-webkit-appearance: none;
			cursor: ew-resize;
			background: var(--layer);
			border: 3px solid var(--inputBorder);
			border-radius: 50%;
			transition: box-shadow 0.2s ease-in-out;
			position: relative;
			top: -12px;
			// margin-top: -4px;
		}
		&:active::-webkit-slider-thumb {
			background: var(--green);
		}
	}
	// Firefox
	&::-moz-range-thumb{
		// border: var(--borderWidth) solid transparent;
		background-color: var(--layer);
		border: 3px solid var(--inputBorder);
		border-radius: 50%;
		height: 28px;
		width: 28px;
	}	
	&::-moz-range-progress {
		background-color: var(--inputBorder); 
	}
	&::-moz-range-track {  
		background-color: var(--layer);
	}
	&:active::-moz-range-thumb {
		background: var(--green);
	}
	// IE
	&::-ms-fill-lower {
		background-color: var(--inputBorder); 
	}
	&::-ms-fill-upper {  
		background-color: var(--layer);
	}
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

// Custom radio or checkbox group to select different options
// Horizontal, icon with text
// Check business profile settings to see example
.custom-picker{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	user-select: none;
	overflow-x: auto;

	// no wrap - horizontal scroll on mobile
	@media (max-width: @screenMD) {
		flex-wrap: nowrap;
	}

	&.nowrap{
		flex-wrap: nowrap;
	}

	// Each option
	.option{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: 65px;
		box-sizing: border-box;
		padding: 0 0px;
		border-radius: var(--borderRadius);
		max-width: 93px;
		border: var(--borderWidth) solid var(--inputBorder);
		min-width: 93px;
		flex-grow: 3;
		color: var(--textLight);
		margin: 0 10px 6px 0;
		position: relative;
		transform: scale(0.9);
		transition: var(--transitionFast);
		font-family: var(--systemFont);

		&:last-child{
			&:before{
				content: '';
				height: 100%;
				width: 1px;
				position: absolute;
				right: -15px;
			}
		}

		// Icon for option
		i{
			margin-bottom: 8px;
			font-size: 24px;

			// Custom icons
			&.custom-icon{
				opacity: 0.5;
			}
		}
		// Option text
		span{
			letter-spacing: 0;
			font-size: 13px;
			font-weight: 500;
			width: 100%;
			text-transform: capitalize;

			// Shrink on md
			@media (max-width: @screenMD) {
				font-size: 11.5px;
				line-height: 13px;
			}
		}

		// Check
		&:after{
			content: '\f111';
			// content: '\f058';
			font-family: var(--fontAwesome);
			position: absolute;
			top: 5px;
			right: 5px;
			font-size: 18px;
			font-weight: 500;
			transition: var(--transitionFast);
			color: var(--inputBorder);
		}

			
		// Hover state
		&:hover{
			cursor: pointer;
			transition: var(--transitionFast);
			text-decoration: none;
			// border-color: var(--inputBorder);
			color: var(--text);

			span{
				text-decoration: underline;
			}
			i{
			}

			// Custom icons
			.custom-icon{
				opacity: 1;
			}
		}

	
		// Option Selected
		&.active{
			color: var(--text);
			border-color: var(--inputBorder);
			position: relative;
			transform: scale(1);
			border-color: var(--inputBorder);

			i{
				// Custom icons
				&.custom-icon{
					opacity: 1;
				}
			}
			&:after{
				content: '\f058';
				color: var(--blue);
				font-weight: 600;
			}
		}
	}

	// Large
	// Increase size of everything a bit
	&.large{

		.option{
			height: 85px;
			border-radius: var(--borderRadius);
			max-width: 124px;
			flex-grow: 3;
			margin-right: 12px !important;
			i{
				margin-bottom: 12px;
			}
			span{
				line-height: 14px;
			}
		}
	}

	// Scroll
	// Scrolls horizontally overflowing page with larger options
	&.horizontal{
		overflow-x: auto;

		// no wrap - horizontal scroll on mobile
		@media (max-width: @screenMD) {
			padding-bottom: 6px;
		}

		.option{
			height: 50px;
			border-radius: var(--borderRadius);
			flex-grow: 0;
			margin: 0 10px 14px 0 !important;
			flex-direction: row;
			padding: 0 28px 0 0;
			width: fit-content;
			min-width: fit-content;
			max-width: fit-content;
			justify-content: flex-start;

			// Adjust spacing
			@media (max-width: @screenMD) {
				margin: 0 10px 0 0 !important;
				height: 46px;
				padding: 0 30px 0 0;
			}

			i,span{
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
			}
			i{
				position: relative;
				top: -1px;
				width: 52px;
				&.fa-city{
					font-size: 20px;
				}
				// Shrink on md
				@media (max-width: @screenMD) {
					font-size: 22px;
					width: 58px;
					top: 0;
				}
			}
			span{
				font-size: 12.5px;
				text-align: left;
				line-height: 15px;
				font-weight: 500;
				white-space: pre-line;
				max-width: 134px;
				position: relative;
				top: -1px;
				// min-width: 150px;

				// Shrink on md
				@media (max-width: @screenMD) {
					font-size: 11.5px;
					top: 0;
					line-height: 13px;
				}
			}

			// Move check to right center
			&:after{
				top: 0;
				right: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 18px;
				font-weight: 400;
				height: 100%;
				width: 30px;
			}

			// Color options for categories, etc
			&.active.yellow i{color: var(--yellow);}
			&.active.red i{color: var(--red);}
			&.active.blue i{color: var(--blue);}
			&.active.green i{color: var(--green);}
		}

	}

	// True / false toggle (buttons)
	button{
		width: fit-content;
		span,i{
			width: 94px;
		}
	}
}

// Prefernce toggle
// Toggle on left, label on right
.preference{
	display: flex;

	.input{
		box-sizing: border-box;
		padding: 0 25px 0 0;
		width: 80px;
		max-width: 80px;
		min-width: 80px;
	}

	label{
		display: flex;
		flex-direction: column;
		justify-content: center;

		small{
			display: block;
			padding-top: 10px;
			font-weight: 400;
		}
	}
}

