//! Modal element styles

// Universal Lightbox
// Blank div with lightbox class
.lightbox{
	background-color: var(--backdrop);
	backdrop-filter: blur(3px);
	// backdrop-filter: grayscale(80%);
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index:50;
}

// Modals
// Flex wrapper - click outside body to close
.modal-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	transform: scaleX(1);
	transition: var(--transition);
	transform-origin: bottom center;
	z-index: 200;

	// Absolute bottom, larger on mobile
	@media (max-width: $screenSM) {
		justify-content: flex-end;
	}

	// Modal body
	.modal{
		display: flex;
		flex-direction: column;
		background-color: var(--layer);
		margin: 0 auto;
		width: 90%;
		max-width: 600px;
		border-radius: var(--borderRadius);
		border-radius: calc(var(--borderRadius) * 3);
		max-height: 90vh;
		box-shadow: var(--shadow);
		@media (max-width: $screenSM) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		// Small, confirmation modal
		&.small{
			max-width: 380px;

			// Absolute bottom, larger on mobile
			@media (max-width: $screenSM) {
				width: 100%;
				max-width: 100%;
			}
		}

		// Absolute bottom, larger on mobile
		@media (max-width: $screenSM) {
			width: 100%;
			position: absolute;
			left: 0;
			max-width: 100%;
			max-height: 88vh;
			border-top-left-radius: calc(var(--borderRadius) * 3);
			border-top-right-radius: calc(var(--borderRadius) * 3);
			padding-bottom: 15px;

			// No scrollbars
			*{
				scrollbar-width: none;
				// Hidden
				&::-webkit-scrollbar{
					width: 0px;
					display: none;
				}
				// Scrollbar handle/thumb
				&::-webkit-scrollbar-thumb{
					display: none;
					width: 0px;
				}
			}
			
		}


		// Modal Title
		.modal-title{
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 35px 35px 35px 35px;
			border-top-right-radius: var(--borderRadius);
			border-top-left-radius: var(--borderRadius);
			color: var(--text);
			font-weight: 500;
			letter-spacing: 0.15px;
			font-size: 20px;
			line-height: 20px;

			// Increase size and padding on mobile
			@media (max-width: $screenSM) {
				padding: 30px 25px 24px 25px;
				font-size: 24px;
				text-align: center;
			}

			// Shrink a bit for longer text
			&.small{
				@media (max-width: $screenSM) {
					font-size: 18px;
				}
			}

			span, i{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			i{
				padding-bottom: 4px;
				transform: scale(1.3);
			}

			&.center{
				justify-content: center;
			}
		}

		// Main body/content
		.modal-body{
			box-sizing: border-box;
			padding: 5px 35px 10px 35px;
			overflow: scroll;
			flex-grow: 3;

			&.overflow{
				overflow: visible;
			}

			// Increase size and padding on mobile
			@media (max-width: $screenSM) {
				padding: 0px 30px 20px 30px;
			}

		}

		// Modal footer/buttons
		.modal-footer{
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 20px;
			max-height: 100px;
			gap: 15px;

			// Remove bottom and side padding
			@media (max-width: $screenSM) {
				padding: 10px 25px 20px 25px;
			}

			// Center buttons
			&.center{
				// Space-around centers all elements with gaps between
				justify-content: space-around;
			}
			&.right{
				justify-content: flex-end;
			}
			&.reverse{
				flex-direction: row-reverse;
			}
		}
	}

}


// On mobile, hide modal header and footer
// When soft keyboarrd is visible
// #app.softkeyboard-visible .modal-footer{

// 	@media (max-width: $screenSM) {
// 		padding: 0px 30px 0px 30px;
// 		transition: all 0.2s ease;
// 		max-height: 0px;
// 	}	

// }
// #app.softkeyboard-visible .modal-title{
// 	@media (max-width: $screenSM) {
// 		font-size: 20px;
// 		transition: all 0.2s ease;
// 		padding: 20px 25px 10px 25px;
// 	}	
// }


// Element adjustmens in modals
.modal{

	.selections-wrapper{
		width: 100%;
		max-width: 100%;

		.selections-button{
			width: 100%;
		}
		.selections-popover{
			max-width: 100%;
			border-radius: var(--borderRadius);
			
			// Limit height above sm
			// @media (max-width: $screenSM) {
			// max-height: 220px;
			// }
		}
	}

	
}